<configuration>
	<!-- %m输出的信息,%p日志级别,%t线程名,%d日期,%c类的全名,,,, -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %highlight(%p) (%file:%line\)- %m%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<appender name="STDOUT-COLOR" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d %highlight(%p) (%file:%line\)- %green(%m%n)</pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>

	<appender name="baselog"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- 基础日志 -->
		<File>logs/base.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>@zeus.log.path@/base.%d.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 64 MB -->
				<maxFileSize>64 MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>
				%d %p (%file:%line\)- %m%n
			</pattern>
			<charset>UTF-8</charset> <!-- 此处设置字符集 -->
		</encoder>
	</appender>

	<appender name="paylog"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!-- 支付相关日志 -->
    <File>logs/pay.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/pay.%d.%i.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy
        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <!-- or whenever the file size reaches 64 MB -->
        <maxFileSize>64 MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder>
      <pattern>
        %d %p (%file:%line\)- %m%n
      </pattern>
      <charset>UTF-8</charset> <!-- 此处设置字符集 -->
    </encoder>
  </appender>

  <appender name="schedulelog"
    class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!-- 定时任务相关日志 -->
    <File>logs/schedule.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/schedule.%d.%i.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy
        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <!-- or whenever the file size reaches 64 MB -->
        <maxFileSize>64 MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder>
      <pattern>
        %d %p (%file:%line\)- %m%n
      </pattern>
      <charset>UTF-8</charset> <!-- 此处设置字符集 -->
    </encoder>
  </appender>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
	<logger name="com.cetian" level="INFO" additivity="false">
		<appender-ref ref="baselog" />
		<appender-ref ref="STDOUT-COLOR" />
	</logger>
	<logger name="com.cetian.module.order.service" level="INFO" additivity="false">
    <appender-ref ref="paylog" />
    <appender-ref ref="STDOUT-COLOR" />
  </logger>
  <logger name="com.cetian.module.order.pay" level="INFO" additivity="false">
    <appender-ref ref="paylog" />
    <appender-ref ref="STDOUT-COLOR" />
  </logger>
  <logger name="com.cetian.module.system.service.BackupService" level="INFO" additivity="false">
    <appender-ref ref="schedulelog" />
    <appender-ref ref="STDOUT-COLOR" />
  </logger>
  <logger name="com.cetian.module.system.service.ScheduleService" level="INFO" additivity="false">
    <appender-ref ref="schedulelog" />
    <appender-ref ref="STDOUT-COLOR" />
  </logger>
</configuration>
